trunk/netbean_webservices/springwebservice_server/src/main/webapp/WEB-INF/wsdl/QuantityService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="QuantityService" targetNamespace="http://dhenton9000.com/QuantityService/wsdl"
             xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://dhenton9000.com/QuantityService/wsdl"  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
    <types>
        <!--

        <xsd:schema targetNamespace="http://dhenton9000.com/QuantityService/wsdl">
            <xsd:import namespace="http://dhenton9000.com/QuantityService" schemaLocation="QuantityServiceSchema.xsd"/>
        </xsd:schema>
    -->
        <xsd:schema targetNamespace="http://dhenton9000.com/QuantityService/wsdl">

            <xsd:complexType name="StyleDataType">
                <xsd:sequence>
                    <xsd:element name="style">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string"/>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="color">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string"/>
                        </xsd:simpleType>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>

            <xsd:element name="InventoryFaultDetail">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="code">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:string"/>
                            </xsd:simpleType>
                        </xsd:element>
                        <xsd:element name="message">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:string"/>
                            </xsd:simpleType>
                        </xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="InventoryRequest">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="StyleData" type="tns:StyleDataType" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>


            <xsd:element name="InventoryResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="InventorResponseAck" type="tns:SimpleWebServiceResponseType" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:complexType name="SimpleWebServiceResponseType">
                <xsd:sequence>
                    <xsd:element name="success" type="xsd:boolean"></xsd:element>
                    <xsd:element name="Message">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string"/>
                        </xsd:simpleType>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>


            <xsd:complexType name="QuantityRequestType">
                <xsd:sequence>
                    <xsd:element name="skuId">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string"/>
                        </xsd:simpleType>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="QuantityResponseType">
                <xsd:sequence>
                    <xsd:element name="quantity">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:integer"/>
                        </xsd:simpleType>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="QuantityRequest" type="tns:QuantityRequestType"></xsd:element>
            <xsd:element name="QuantityResponse" type="tns:QuantityResponseType"></xsd:element>


        </xsd:schema>



    </types>






<message name="InventoryFaultDetailMessage">
        <part name="faultPart" element="tns:InventoryFaultDetail"/>
    </message>
    <message name="QuantityServiceOperationRequest">
        <part name="requestPart" element="tns:QuantityRequest"/>
    </message>
    <message name="QuantityServiceOperationResponse">
        <part name="responsePart" element="tns:QuantityResponse"/>
    </message>
    <message name="QuantityServiceInventoryRequest">
        <part name="invRequest" element="tns:InventoryRequest"/>
    </message>
    <message name="QuantityServiceInventoryResponse">
        <part name="invResponse" element="tns:InventoryResponse"/>
    </message>
    <portType name="QuantityServicePortType">
        <operation name="QuantityServiceOperation">
            <input name="qtyRequest" message="tns:QuantityServiceOperationRequest"/>
            <output name="qtyResponse" message="tns:QuantityServiceOperationResponse"/>
            <fault name="serviceFault"  message="tns:InventoryFaultDetailMessage" />


        </operation>
        <operation name="InventoryServiceOperation">
            <input name="invRequest" message="tns:QuantityServiceInventoryRequest"/>
            <output name="invResponse" message="tns:QuantityServiceInventoryResponse"/>
             <fault name="serviceFault"  message="tns:InventoryFaultDetailMessage" />
        </operation>
    </portType>
    <binding name="QuantityServicePortTypeBinding" type="tns:QuantityServicePortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="QuantityServiceOperation">
            <soap:operation/>
            <input name="qtyRequest">
                <soap:body use="literal"/>
            </input>
            <output name="qtyResponse">
                <soap:body use="literal"/>
            </output>
            <fault name="serviceFault">
                <soap:fault use="literal" name="serviceFault"/>
            </fault>
        </operation>
        <operation name="InventoryServiceOperation">
            <input name="invRequest">
                <soap:body use="literal"/>
            </input>
            <output name="invResponse">
                <soap:body use="literal"/>
            </output>
           <fault name="serviceFault">
                <soap:fault use="literal" name="serviceFault"/>
            </fault>
        </operation>
    </binding>
    <service name="QuantityServiceService">
        <port name="QuantityServicePortTypeBindingPort" binding="tns:QuantityServicePortTypeBinding">
            <soap:address location="http://localhost:9090/springwebservice/services"/>
        </port>
    </service>
</definitions>








