trunk/ejbs/cxfws/BasicWSWeb/src/main/webapp/WEB-INF/wsdl/InventoryService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="inventoryService" targetNamespace="http://dhenton9000.inventory/inventoryService/wsdl"
    xmlns="http://schemas.xmlsoap.org/wsdl/"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://dhenton9000.inventory/inventoryService/wsdl" xmlns:ns="http://dhenton9000.inventory/schema/InventoryBusSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
    <types>
        <xsd:schema targetNamespace="http://dhenton9000.inventory/inventoryService/wsdl">
            <xsd:import namespace="http://dhenton9000.inventory/schema/InventoryBusSchema" schemaLocation="InventoryProcessExploded.xsd"/>
            <xsd:element name="processRoutingRequest">
            	<xsd:complexType>
            		<xsd:sequence>

            			<xsd:element name="in" type="xsd:string"></xsd:element>
            		</xsd:sequence>
            	</xsd:complexType>
            </xsd:element>
            <xsd:element name="processRoutingRequestResponse">
            	<xsd:complexType>
            		<xsd:sequence>

            			<xsd:element name="out" type="xsd:string"></xsd:element>
            		</xsd:sequence>
            	</xsd:complexType>
            </xsd:element>
        </xsd:schema>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
        	<xsd:import
        		namespace="http://dhenton9000.inventory/schema/InventoryBusSchema"
        		schemaLocation="InventoryProcessExploded.xsd">
        	</xsd:import></xsd:schema></types>
    <message name="inventoryServiceOperationRequest">
        <part name="inventoryProcessRequest" element="ns:InventoryProcessRequest"/>
    </message>
    <message name="inventoryServiceOperationResponse">
        <part name="inventoryProcessResponse" element="ns:InventoryProcessResponse"/>
    </message>
    <message name="inventoryServiceOperationFault">
        <part name="inventoryProcessFault" element="ns:InventoryProcessResponse"/>
    </message>
    <wsdl:message name="processRoutingRequestRequest">
    	<wsdl:part name="parameters" type="ns:RoutingRequestType"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="processRoutingRequestResponse">
    	<wsdl:part name="parameters" type="ns:RoutingInformationType"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="processRoutingRequest_faultMsg">
    	<wsdl:part name="fault" type="xsd:string"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="processRoutingRequest_faultMsg1">
    	<wsdl:part name="routingFault" element="ns:InventoryProcessResponse"></wsdl:part>
    </wsdl:message>
    <portType name="inventoryServicePortType">
        <operation name="inventoryServiceOperation">
            <input name="serviceInput" message="tns:inventoryServiceOperationRequest"/>
            <output name="serviceOutput" message="tns:inventoryServiceOperationResponse"/>
            <fault name="serviceFault" message="tns:inventoryServiceOperationFault"/>
        </operation>
        <wsdl:operation name="processRoutingRequest">
        	<wsdl:input message="tns:processRoutingRequestRequest"></wsdl:input>
        	<wsdl:output message="tns:processRoutingRequestResponse"></wsdl:output>
            <wsdl:fault name="processFault" message="tns:processRoutingRequest_faultMsg1"></wsdl:fault>
        </wsdl:operation>
    </portType>
    <binding name="inventoryServiceBinding" type="tns:inventoryServicePortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="inventoryServiceOperation">
            <soap:operation/>
            <input name="serviceInput">
                <soap:body use="literal"/>
            </input>
            <output name="serviceOutput">
                <soap:body use="literal"/>
            </output>
            <fault name="serviceFault">
                <soap:fault use="literal" name="serviceFault"/>
            </fault>
        </operation>
    </binding>
    <service name="inventoryServiceService">
        <port name="inventoryServicePort" binding="tns:inventoryServiceBinding">
            <soap:address location="http://localhost:4444/inventoryServiceService/inventoryServicePort"/>
        </port>
    </service>
</definitions>


