trunk/netbean_webservices/springwebservice/src/main/resources/FootBallSchema.xsd

<?xml version="1.0" encoding="UTF-8"?>  
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"      
targetNamespace="http://footballpool.dataaccess.eu"      
xmlns:tns="http://footballpool.dataaccess.eu"      
elementFormDefault="qualified"> 

    <xs:complexType name="tPlayerNames">
        <xs:sequence>
            <xs:element name="iId" type="xs:int"/>
            <xs:element name="sName" type="xs:string"/>
            <xs:element name="sCountryName" type="xs:string"/>
            <xs:element name="sCountryFlag" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="tTopGoalScorer">
        <xs:sequence>
            <xs:element name="sName" type="xs:string"/>
            <xs:element name="iGoals" type="xs:int"/>
            <xs:element name="sCountry" type="xs:string"/>
            <xs:element name="sFlag" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="tTopSelectedGoalScorer">
        <xs:sequence>
            <xs:element name="sName" type="xs:string"/>
            <xs:element name="iSelected" type="xs:int"/>
            <xs:element name="Countries" type="tns:ArrayOftCountrySelectedTopScorer"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="tCountrySelectedTopScorer">
        <xs:sequence>
            <xs:element name="sName" type="xs:string"/>
            <xs:element name="iCount" type="xs:int"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="tPlayersWithCards">
        <xs:sequence>
            <xs:element name="sName" type="xs:string"/>
            <xs:element name="iYellowCards" type="xs:int"/>
            <xs:element name="iRedCards" type="xs:int"/>
            <xs:element name="sTeamName" type="xs:string"/>
            <xs:element name="sTeamFlag" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="tCardInfo">
        <xs:sequence>
            <xs:element name="dGame" type="xs:date"/>
            <xs:element name="iMinute" type="xs:int"/>
            <xs:element name="sGameTeam1" type="xs:string"/>
            <xs:element name="sGameTeam2" type="xs:string"/>
            <xs:element name="sPlayerName" type="xs:string"/>
            <xs:element name="bYellowCard" type="xs:boolean"/>
            <xs:element name="bRedCard" type="xs:boolean"/>
            <xs:element name="sGameTeam1Flag" type="xs:string"/>
            <xs:element name="sGameTeam2Flag" type="xs:string"/>
            <xs:element name="sPlayerFlag" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="tStadiumInfo">
        <xs:sequence>
            <xs:element name="sStadiumName" type="xs:string"/>
            <xs:element name="iSeatsCapacity" type="xs:int"/>
            <xs:element name="sCityName" type="xs:string"/>
            <xs:element name="sWikipediaURL" type="xs:string"/>
            <xs:element name="sGoogleMapsURL" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="tFullTeamInfo">
        <xs:sequence>
            <xs:element name="sName" type="xs:string"/>
            <xs:element name="sCountryFlag" type="xs:string"/>
            <xs:element name="sCoach" type="xs:string"/>
            <xs:element name="iCompeted" type="xs:int"/>
            <xs:element name="sGoalKeepers" type="tns:ArrayOfString"/>
            <xs:element name="sDefenders" type="tns:ArrayOfString"/>
            <xs:element name="sMidFields" type="tns:ArrayOfString"/>
            <xs:element name="sForwards" type="tns:ArrayOfString"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="tTeamInfo">
        <xs:sequence>
            <xs:element name="iId" type="xs:int"/>
            <xs:element name="sName" type="xs:string"/>
            <xs:element name="sCountryFlag" type="xs:string"/>
            <xs:element name="sWikipediaURL" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="tGroupInfo">
        <xs:sequence>
            <xs:element name="sCode" type="xs:string"/>
            <xs:element name="sDescription" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="tGroupsCompetitors">
        <xs:sequence>
            <xs:element name="GroupInfo" type="tns:tGroupInfo"/>
            <xs:element name="TeamsInGroup" type="tns:ArrayOftTeamInfo"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="tGoal">
        <xs:sequence>
            <xs:element name="dGame" type="xs:date"/>
            <xs:element name="iMinute" type="xs:int"/>
            <xs:element name="sPlayerName" type="xs:string"/>
            <xs:element name="sTeamName" type="xs:string"/>
            <xs:element name="sTeamFlag" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="tGameInfo">
        <xs:sequence>
            <xs:element name="iId" type="xs:int"/>
            <xs:element name="sDescription" type="xs:string"/>
            <xs:element name="dPlayDate" type="xs:date"/>
            <xs:element name="tPlayTime" type="xs:time"/>
            <xs:element name="StadiumInfo" type="tns:tStadiumInfo"/>
            <xs:element name="Team1" type="tns:tTeamInfo"/>
            <xs:element name="Team2" type="tns:tTeamInfo"/>
            <xs:element name="sResult" type="xs:string"/>
            <xs:element name="sScore" type="xs:string"/>
            <xs:element name="iYellowCards" type="xs:int"/>
            <xs:element name="iRedCards" type="xs:int"/>
            <xs:element name="Cards" type="tns:ArrayOftGameCard"/>
            <xs:element name="Goals" type="tns:ArrayOftGoal"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="tGameCard">
        <xs:sequence>
            <xs:element name="dGame" type="xs:date"/>
            <xs:element name="iMinute" type="xs:int"/>
            <xs:element name="sPlayerName" type="xs:string"/>
            <xs:element name="bYellowCard" type="xs:boolean"/>
            <xs:element name="bRedCard" type="xs:boolean"/>
            <xs:element name="sTeamName" type="xs:string"/>
            <xs:element name="sTeamFlag" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="tCountryInfo">
        <xs:sequence>
            <xs:element name="iId" type="xs:int"/>
            <xs:element name="sName" type="xs:string"/>
            <xs:element name="sIsoCode" type="xs:string"/>
            <xs:element name="iPersons" type="xs:int"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="tCards">
        <xs:sequence>
            <xs:element name="iYellow" type="xs:int"/>
            <xs:element name="iRed" type="xs:int"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="tGameResultCode">
        <xs:sequence>
            <xs:element name="sCode" type="xs:string"/>
            <xs:element name="sDescription" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="tCoaches">
        <xs:sequence>
            <xs:element name="sName" type="xs:string"/>
            <xs:element name="TeamInfo" type="tns:tTeamInfo"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="tTeamCompete">
        <xs:sequence>
            <xs:element name="iCompeted" type="xs:int"/>
            <xs:element name="iWon" type="xs:int"/>
            <xs:element name="CoachInfo" type="tns:tCoaches"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="tTournamentInfo">
        <xs:sequence>
            <xs:element name="dFirstGame" type="xs:date"/>
            <xs:element name="dLastGame" type="xs:date"/>
            <xs:element name="dLastGroupDateGame" type="xs:date"/>
            <xs:element name="iGames" type="xs:int"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ArrayOftCountrySelectedTopScorer">
        <xs:sequence>
            <xs:element name="tCountrySelectedTopScorer" type="tns:tCountrySelectedTopScorer" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ArrayOfString">
        <xs:sequence>
            <xs:element name="string" type="xs:string" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ArrayOftTeamInfo">
        <xs:sequence>
            <xs:element name="tTeamInfo" type="tns:tTeamInfo" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ArrayOftGameCard">
        <xs:sequence>
            <xs:element name="tGameCard" type="tns:tGameCard" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ArrayOftGoal">
        <xs:sequence>
            <xs:element name="tGoal" type="tns:tGoal" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ArrayOftPlayerNames">
        <xs:sequence>
            <xs:element name="tPlayerNames" type="tns:tPlayerNames" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ArrayOftTopGoalScorer">
        <xs:sequence>
            <xs:element name="tTopGoalScorer" type="tns:tTopGoalScorer" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ArrayOftTopSelectedGoalScorer">
        <xs:sequence>
            <xs:element name="tTopSelectedGoalScorer" type="tns:tTopSelectedGoalScorer" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ArrayOftPlayersWithCards">
        <xs:sequence>
            <xs:element name="tPlayersWithCards" type="tns:tPlayersWithCards" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ArrayOftCardInfo">
        <xs:sequence>
            <xs:element name="tCardInfo" type="tns:tCardInfo" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ArrayOftStadiumInfo">
        <xs:sequence>
            <xs:element name="tStadiumInfo" type="tns:tStadiumInfo" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ArrayOftGroupInfo">
        <xs:sequence>
            <xs:element name="tGroupInfo" type="tns:tGroupInfo" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ArrayOftGroupsCompetitors">
        <xs:sequence>
            <xs:element name="tGroupsCompetitors" type="tns:tGroupsCompetitors" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ArrayOftGameInfo">
        <xs:sequence>
            <xs:element name="tGameInfo" type="tns:tGameInfo" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ArrayOftCountryInfo">
        <xs:sequence>
            <xs:element name="tCountryInfo" type="tns:tCountryInfo" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ArrayOftGameResultCode">
        <xs:sequence>
            <xs:element name="tGameResultCode" type="tns:tGameResultCode" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ArrayOftCoaches">
        <xs:sequence>
            <xs:element name="tCoaches" type="tns:tCoaches" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ArrayOftTeamCompete">
        <xs:sequence>
            <xs:element name="tTeamCompete" type="tns:tTeamCompete" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="AllPlayerNames">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="bSelected" type="xs:boolean"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="AllPlayerNamesResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="AllPlayerNamesResult" type="tns:ArrayOftPlayerNames"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="AllDefenders">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="sCountryName" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="AllDefendersResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="AllDefendersResult" type="tns:ArrayOfString"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="AllGoalKeepers">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="sCountryName" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="AllGoalKeepersResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="AllGoalKeepersResult" type="tns:ArrayOfString"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="AllForwards">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="sCountryName" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="AllForwardsResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="AllForwardsResult" type="tns:ArrayOfString"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="AllMidFields">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="sCountryName" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="AllMidFieldsResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="AllMidFieldsResult" type="tns:ArrayOfString"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="TopGoalScorers">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="iTopN" type="xs:int"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="TopGoalScorersResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="TopGoalScorersResult" type="tns:ArrayOftTopGoalScorer"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="TopSelectedGoalScorers">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="iTopN" type="xs:int"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="TopSelectedGoalScorersResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="TopSelectedGoalScorersResult" type="tns:ArrayOftTopSelectedGoalScorer"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="AllPlayersWithYellowOrRedCards">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="bSortedByName" type="xs:boolean"/>
                <xs:element name="bSortedByYellowCards" type="xs:boolean"/>
                <xs:element name="bSortedByRedCards" type="xs:boolean"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="AllPlayersWithYellowOrRedCardsResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="AllPlayersWithYellowOrRedCardsResult" type="tns:ArrayOftPlayersWithCards"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="AllPlayersWithYellowCards">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="bSortedByName" type="xs:boolean"/>
                <xs:element name="bSortedByYellowCards" type="xs:boolean"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="AllPlayersWithYellowCardsResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="AllPlayersWithYellowCardsResult" type="tns:ArrayOftPlayersWithCards"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="AllPlayersWithRedCards">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="bSortedByName" type="xs:boolean"/>
                <xs:element name="bSortedByRedCards" type="xs:boolean"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="AllPlayersWithRedCardsResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="AllPlayersWithRedCardsResult" type="tns:ArrayOftPlayersWithCards"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="AllCards">
        <xs:complexType>
            <xs:sequence/>
        </xs:complexType>
    </xs:element>
    <xs:element name="AllCardsResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="AllCardsResult" type="tns:ArrayOftCardInfo"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="Cities">
        <xs:complexType>
            <xs:sequence/>
        </xs:complexType>
    </xs:element>
    <xs:element name="CitiesResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="CitiesResult" type="tns:ArrayOfString"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="StadiumNames">
        <xs:complexType>
            <xs:sequence/>
        </xs:complexType>
    </xs:element>
    <xs:element name="StadiumNamesResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="StadiumNamesResult" type="tns:ArrayOfString"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="StadiumURL">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="sStadiumName" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="StadiumURLResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="StadiumURLResult" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="StadiumInfo">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="sStadiumName" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="StadiumInfoResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="StadiumInfoResult" type="tns:tStadiumInfo"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="AllStadiumInfo">
        <xs:complexType>
            <xs:sequence/>
        </xs:complexType>
    </xs:element>
    <xs:element name="AllStadiumInfoResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="AllStadiumInfoResult" type="tns:ArrayOftStadiumInfo"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="FullTeamInfo">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="sTeamName" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="FullTeamInfoResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="FullTeamInfoResult" type="tns:tFullTeamInfo"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="Teams">
        <xs:complexType>
            <xs:sequence/>
        </xs:complexType>
    </xs:element>
    <xs:element name="TeamsResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="TeamsResult" type="tns:ArrayOftTeamInfo"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="GroupCount">
        <xs:complexType>
            <xs:sequence/>
        </xs:complexType>
    </xs:element>
    <xs:element name="GroupCountResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="GroupCountResult" type="xs:int"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="Groups">
        <xs:complexType>
            <xs:sequence/>
        </xs:complexType>
    </xs:element>
    <xs:element name="GroupsResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="GroupsResult" type="tns:ArrayOftGroupInfo"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="GroupCompetitors">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="sPoule" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="GroupCompetitorsResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="GroupCompetitorsResult" type="tns:ArrayOftTeamInfo"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="AllGroupCompetitors">
        <xs:complexType>
            <xs:sequence/>
        </xs:complexType>
    </xs:element>
    <xs:element name="AllGroupCompetitorsResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="AllGroupCompetitorsResult" type="tns:ArrayOftGroupsCompetitors"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="GoalsScored">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="iGameId" type="xs:int"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="GoalsScoredResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="GoalsScoredResult" type="tns:ArrayOftGoal"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="GameInfo">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="iGameId" type="xs:int"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="GameInfoResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="GameInfoResult" type="tns:tGameInfo"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="AllGames">
        <xs:complexType>
            <xs:sequence/>
        </xs:complexType>
    </xs:element>
    <xs:element name="AllGamesResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="AllGamesResult" type="tns:ArrayOftGameInfo"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="CountryNames">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="bWithCompetitors" type="xs:boolean"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="CountryNamesResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="CountryNamesResult" type="tns:ArrayOftCountryInfo"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="GamesPlayed">
        <xs:complexType>
            <xs:sequence/>
        </xs:complexType>
    </xs:element>
    <xs:element name="GamesPlayedResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="GamesPlayedResult" type="xs:int"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="GamesPerCity">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="sCityName" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="GamesPerCityResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="GamesPerCityResult" type="tns:ArrayOftGameInfo"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="YellowCardsTotal">
        <xs:complexType>
            <xs:sequence/>
        </xs:complexType>
    </xs:element>
    <xs:element name="YellowCardsTotalResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="YellowCardsTotalResult" type="xs:int"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="RedCardsTotal">
        <xs:complexType>
            <xs:sequence/>
        </xs:complexType>
    </xs:element>
    <xs:element name="RedCardsTotalResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="RedCardsTotalResult" type="xs:int"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="YellowAndRedCardsTotal">
        <xs:complexType>
            <xs:sequence/>
        </xs:complexType>
    </xs:element>
    <xs:element name="YellowAndRedCardsTotalResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="YellowAndRedCardsTotalResult" type="tns:tCards"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="GameResultCodes">
        <xs:complexType>
            <xs:sequence/>
        </xs:complexType>
    </xs:element>
    <xs:element name="GameResultCodesResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="GameResultCodesResult" type="tns:ArrayOftGameResultCode"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="Coaches">
        <xs:complexType>
            <xs:sequence/>
        </xs:complexType>
    </xs:element>
    <xs:element name="CoachesResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="CoachesResult" type="tns:ArrayOftCoaches"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="PlayedAtWorldCup">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="sTeamName" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="PlayedAtWorldCupResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="PlayedAtWorldCupResult" type="xs:int"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="TeamsCompeteList">
        <xs:complexType>
            <xs:sequence/>
        </xs:complexType>
    </xs:element>
    <xs:element name="TeamsCompeteListResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="TeamsCompeteListResult" type="tns:ArrayOftTeamCompete"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="NextGame">
        <xs:complexType>
            <xs:sequence/>
        </xs:complexType>
    </xs:element>
    <xs:element name="NextGameResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="NextGameResult" type="tns:tGameInfo"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="DateOfFirstGame">
        <xs:complexType>
            <xs:sequence/>
        </xs:complexType>
    </xs:element>
    <xs:element name="DateOfFirstGameResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="DateOfFirstGameResult" type="xs:date"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="DateOfLastGame">
        <xs:complexType>
            <xs:sequence/>
        </xs:complexType>
    </xs:element>
    <xs:element name="DateOfLastGameResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="DateOfLastGameResult" type="xs:date"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="DateLastGroupGame">
        <xs:complexType>
            <xs:sequence/>
        </xs:complexType>
    </xs:element>
    <xs:element name="DateLastGroupGameResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="DateLastGroupGameResult" type="xs:date"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="TournamentInfo">
        <xs:complexType>
            <xs:sequence/>
        </xs:complexType>
    </xs:element>
    <xs:element name="TournamentInfoResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="TournamentInfoResult" type="tns:tTournamentInfo"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="NumberOfGames">
        <xs:complexType>
            <xs:sequence/>
        </xs:complexType>
    </xs:element>
    <xs:element name="NumberOfGamesResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="NumberOfGamesResult" type="xs:int"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>