trunk/rest/jerseyrs/soapui_demo.wadl

<application xmlns="http://research.sun.com/wadl/2006/10">
   <doc jersey:generatedBy="Jersey: 1.8 06/24/2011 12:17 PM" xmlns:jersey="http://jersey.java.net/"/>
   <resources base="http://localhost:8080/CustomerDBSpring/resources/">
      <resource path="/customers/">
         <method id="get" name="GET">
            <request>
               <param name="start" style="query" type="xs:int" default="0" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
               <param name="max" style="query" type="xs:int" default="10" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
               <param name="expandLevel" style="query" type="xs:int" default="1" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
               <param name="query" style="query" type="xs:string" default="SELECT e FROM Customer e" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
            </request>
            <response>
               <representation mediaType="application/xml"/>
               <representation mediaType="application/json"/>
            </response>
         </method>
         <method id="post" name="POST">
            <request>
               <representation mediaType="application/xml"/>
               <representation mediaType="application/json"/>
            </request>
            <response>
               <representation mediaType="*/*"/>
            </response>
         </method>
         <resource path="{customerId}/">
            <param name="customerId" style="template" type="xs:int" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
            <method id="get" name="GET">
               <request>
                  <param name="expandLevel" style="query" type="xs:int" default="1" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
               </request>
               <response>
                  <representation mediaType="application/xml"/>
                  <representation mediaType="application/json"/>
               </response>
            </method>
            <method id="put" name="PUT">
               <request>
                  <representation mediaType="application/xml"/>
                  <representation mediaType="application/json"/>
               </request>
            </method>
            <method id="delete" name="DELETE"/>
            <resource path="discountCode/">
               <method id="get" name="GET">
                  <request>
                     <param name="expandLevel" style="query" type="xs:int" default="1" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
                  </request>
                  <response>
                     <representation mediaType="application/xml"/>
                     <representation mediaType="application/json"/>
                  </response>
               </method>
               <method id="put" name="PUT">
                  <request>
                     <representation mediaType="application/xml"/>
                     <representation mediaType="application/json"/>
                  </request>
               </method>
               <method id="delete" name="DELETE"/>
               <resource path="customerCollection/"/>
            </resource>
         </resource>
      </resource>
      <resource path="/discountCodes/">
         <method id="get" name="GET">
            <request>
               <param name="start" style="query" type="xs:int" default="0" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
               <param name="max" style="query" type="xs:int" default="10" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
               <param name="expandLevel" style="query" type="xs:int" default="1" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
               <param name="query" style="query" type="xs:string" default="SELECT e FROM DiscountCode e" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
            </request>
            <response>
               <representation mediaType="application/xml"/>
               <representation mediaType="application/json"/>
            </response>
         </method>
         <method id="post" name="POST">
            <request>
               <representation mediaType="application/xml"/>
               <representation mediaType="application/json"/>
            </request>
            <response>
               <representation mediaType="*/*"/>
            </response>
         </method>
         <resource path="{discountCode}/">
            <param name="discountCode" style="template" type="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
            <method id="get" name="GET">
               <request>
                  <param name="expandLevel" style="query" type="xs:int" default="1" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
               </request>
               <response>
                  <representation mediaType="application/xml"/>
                  <representation mediaType="application/json"/>
               </response>
            </method>
            <method id="put" name="PUT">
               <request>
                  <representation mediaType="application/xml"/>
                  <representation mediaType="application/json"/>
               </request>
            </method>
            <method id="delete" name="DELETE"/>
            <resource path="customerCollection/">
               <method id="get" name="GET">
                  <request>
                     <param name="start" style="query" type="xs:int" default="0" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
                     <param name="max" style="query" type="xs:int" default="10" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
                     <param name="expandLevel" style="query" type="xs:int" default="1" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
                     <param name="query" style="query" type="xs:string" default="SELECT e FROM Customer e" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
                  </request>
                  <response>
                     <representation mediaType="application/xml"/>
                     <representation mediaType="application/json"/>
                  </response>
               </method>
               <method id="post" name="POST">
                  <request>
                     <representation mediaType="application/xml"/>
                     <representation mediaType="application/json"/>
                  </request>
                  <response>
                     <representation mediaType="*/*"/>
                  </response>
               </method>
               <resource path="{customerId}/">
                  <param name="customerId" style="template" type="xs:int" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
                  <method id="get" name="GET">
                     <request>
                        <param name="expandLevel" style="query" type="xs:int" default="1" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
                     </request>
                     <response>
                        <representation mediaType="application/xml"/>
                        <representation mediaType="application/json"/>
                     </response>
                  </method>
                  <method id="put" name="PUT">
                     <request>
                        <representation mediaType="application/xml"/>
                        <representation mediaType="application/json"/>
                     </request>
                  </method>
                  <method id="delete" name="DELETE"/>
                  <resource path="discountCode/"/>
               </resource>
            </resource>
         </resource>
      </resource>
   </resources>
</application>